.Card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 400px;
  background: coral;
  flex: none;
  border-radius: 16px;
}

.CardList {
  display: flex;
  gap: 10px;
  background-color: red;
  margin-left: 50px;
  margin-right: 250px;
}

/* .Buffer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 400px;
  background: #fff;
  flex: none;
} */
